# MLB 85/2

In [1]:
%matplotlib inline
from IPython.display import display
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

con = sqlite3.connect("../data/CongoDB.sqlite")

In [2]:
sql = """SELECT
           t_Obj.ObjID, 
           t_Obj.ort_kurz, 
           t_Obj.Komplex, 
           t_Obj.Individuum, 
           t_Obj.Typ, 
           t_Obj.Gewicht,
           t_Obj.Gr_Clist, 
           t_Obj.Art 
       FROM (t_Ort INNER JOIN t_Komplex ON t_Ort.ortID = t_Komplex.ortID)
           INNER JOIN t_Obj ON t_Komplex.komplexID = t_Obj.komplexID
       WHERE (((t_Ort.ort_kurz) = 'MLB')
           AND ((t_Komplex.bef_nr) = '85/2'))""".replace('\n',' ')

df = pd.read_sql(sql, con)
df

Empty DataFrame
Columns: [objID, ort_kurz, Komplex, Individuum, Typ, Gewicht, Gr_Clist, Art]
Index: []

> KEINE FUNDE