# Aus der Literatur heraus aufgenommene Obj

In [1]:
%matplotlib inline
from IPython.display import display
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

con = sqlite3.connect("../data/CongoDB.sqlite")

## Liste der FdSt

In [2]:
sql = """SELECT
           t_Ort.ort_kurz,
           t_Ort.ort_name,
           t_Komplex.bef_nr,
           t_Obj.Individuum,
           t_Obj.objID,
           t_Obj.Typ,
           t_Obj.Notiz
       FROM (t_Ort INNER JOIN t_Komplex ON t_Ort.ortID = t_Komplex.ortID)
           INNER JOIN t_Obj ON t_Komplex.komplexID = t_Obj.komplexID
       WHERE (((t_Ort.ort_lit) != 'DS')
           AND ((t_Ort.'Kat-Nr') != '' )
           AND ((t_Obj.Art) = 'K'))""".replace('\n',' ')

df = pd.read_sql(sql, con)
# display(df.head())

In [3]:
df_pivot = df.pivot_table(values = 'objID', index = 'ort_kurz', aggfunc = len)
df_pivot = pd.DataFrame(df_pivot)
display(df_pivot)

          objID
ort_kurz
BAM           1
BEN           1
BKE           6
BLG           1
BOK           1
BON           1
BSN           1
BSP           1
IGN           1
IKE           3
IMB           5
IYO           1
LON           2
MBA           5
MDJ          20
NKI           1