# IYONDA 2015

In [27]:
%matplotlib inline
from IPython.display import display
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable
import sqlite3

import sys, os
sys.path.append("/Python")
from myfunctions import *

style = 'NGB'

con = sqlite3.connect("../data/CongoDB.sqlite")

## Kartierungen der Scherben-Typen/fabrics von 'Import'-St√ºcken aus dem Befund IYO 15/2/4
### B.A. Arbeit Rachelle Angelique Meyer

#### *Scherben*-Typ/*fabric* 4b

In [28]:
sql = """SELECT
           t_Obj.objID,
           't_Ort'.'Kat-Nr',
           't_Ort'.'ort_name' || ' (Fpl. ' || 't_ort'.'Kat-Nr' || ')' AS Ort,
           t_Obj.Typ,
           t_Ort.y_lat AS Y, 
           t_Ort.x_long AS X
       FROM (t_Ort INNER JOIN t_Komplex ON t_Ort.ortID = t_Komplex.ortID)
           INNER JOIN t_Obj ON t_Komplex.komplexID = t_Obj.komplexID
       WHERE (((t_Obj.Fabric) = '4b') 
           AND ((t_Obj.Fabric) Not Like '%/%'))""".replace('\n',' ')
df = pd.read_sql(sql, con)
df_pivot = df.pivot_table(values = 'objID', index = ['Ort', 'Kat-Nr', 'X', 'Y'], aggfunc = len)
df_pivot = df_pivot.reset_index()
display(df_pivot.head())

                    Ort Kat-Nr          X         Y  objID
0     Bobulu (Fpl. 198)    198  18.042886  1.441145      2
1     Bomasa (Fpl. 274)    274  16.185432  2.203077      1
2      Bonda (Fpl. 272)    272  16.084390  2.189246      3
3      Dongo (Fpl. 202)    202  18.404747  2.721870     11
4  Fulu-Kaba (Fpl. 233)    233  18.832081  3.086272      1

In [29]:
df_pivot.to_csv("../data/processed/a_IYO15_fabric4b.csv", index = False)

In [30]:
df_pivot[(df_pivot['Kat-Nr'] == '8')]

               Ort Kat-Nr          X         Y  objID
8  Iyonda (Fpl. 8)      8  18.184492 -0.037076      2

#### *Scherben*-Typ/*fabric* 5b

In [31]:
sql = """SELECT
           t_Obj.objID,
           't_Ort'.'Kat-Nr',
           't_Ort'.'ort_name' || ' (Fpl. ' || 't_ort'.'Kat-Nr' || ')' AS Ort,
           t_Obj.Typ,
           t_Ort.y_lat AS Y, 
           t_Ort.x_long AS X
       FROM (t_Ort INNER JOIN t_Komplex ON t_Ort.ortID = t_Komplex.ortID)
           INNER JOIN t_Obj ON t_Komplex.komplexID = t_Obj.komplexID
       WHERE (((t_Obj.Fabric) = '5b') 
           AND ((t_Obj.Fabric) Not Like '%/%'))""".replace('\n',' ')
df = pd.read_sql(sql, con)
df_pivot = df.pivot_table(values = 'objID', index = ['Ort', 'Kat-Nr', 'X', 'Y'], aggfunc = len)
df_pivot = df_pivot.reset_index()
display(df_pivot.head())

                   Ort Kat-Nr          X         Y  objID
0  Balongoi (Fpl. 214)    214  18.644374  4.129969      3
1   Batanga (Fpl. 209)    209  18.594438  3.710706      1
2     Bonda (Fpl. 272)    272  16.084390  2.189246      1
3  Dokeve 2 (Fpl. 224)    224  19.523072  5.131210      1
4     Imese (Fpl. 201)    201  18.105096  2.116407      2

In [32]:
df_pivot.to_csv("../data/processed/a_IYO15_fabric5b.csv", index = False)

In [33]:
df_pivot[(df_pivot['Kat-Nr'] == '8')]

               Ort Kat-Nr          X         Y  objID
5  Iyonda (Fpl. 8)      8  18.184492 -0.037076      1