In [2]:
%matplotlib inline
from IPython.display import display
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

con = sqlite3.connect("../data/CongoDB.sqlite")

In [5]:
sql = """SELECT
           t_Obj.objID, 
           t_Ort.ort_kurz AS ORT, 
           t_Komplex.bef_nr AS BEF,
           t_Obj.Art,
           t_Obj.Scherbe,
           t_Obj.Anzahl,
           t_Obj.Typ           
       FROM (t_Ort INNER JOIN t_Komplex ON t_Ort.ortID = t_Komplex.ortID)
           INNER JOIN t_Obj ON t_Komplex.komplexID = t_Obj.komplexID
       WHERE (((t_Ort.ort_lit)='DS')
           AND ((t_Obj.Art) = "K")
           AND ((t_Obj.Scherbe) != '')
           AND ((t_Komplex.bef_nr = '87/101'))
           AND ((t_Ort.ort_kurz) = 'EPE'))""".replace('\n',' ')

df = pd.read_sql(sql, con)
df['Anzahl'] = df['Anzahl'].convert_objects(convert_numeric=True)
df['Typ'] = df['Typ'].replace(np.nan, '?', regex=True)

df.pivot_table(values = 'Anzahl', 
               index = ['ORT', 'BEF', 'Typ'], 
               columns = 'Scherbe', 
               aggfunc = sum, 
               fill_value = '-', 
               margins = True)

C:\Users\Dirk\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

Scherbe             R     W   All
ORT BEF    Typ
EPE 87/101 ?        3  12.0  15.0
           EPE      -   2.0   2.0
           EPE (?)  1   2.0   3.0
           PKM (?)  -   1.0   1.0
All                 4  17.0  21.0